.divCard{
    height: 90%;
    width: 350px;
    padding: 1em;
    margin: 5px;
    font-weight: 500;
    border-radius: 5%;
    background-color: #fcff4f;
}
.divCard:hover{
    background-color: #262623c9;
    color: white;
    border: 2px solid white;
}
.divContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}