.divCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
    border: none;
}
.divOption{
    transform: scale(0.8);
}
.divOption:hover{
    transform: scale(0.9);
}