.divConten{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.divSearching{
    border-radius: 10px;
    background-color: #fcff4fc9;
    padding: 15px;
}
.inputSearching{
    border-radius: 5px 0px 0px 5px;
    font-family: cursive;
}
.buttonSearching{
    background-color: #262623c9;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-family: cursive;
}